

* {
  margin:0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

body {
  background: #13315C;
  font-family: 'Secular One', sans-serif;
}

.cabecalho {
  justify-content:center;
  align-items: center;
  display: flex;
  color:#FFF;
  
}

.logo {
  margin:20px;
  width: 100px;
  height: 100px;
}

.logo img {
  width:100%;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.text {
  padding: 40px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.text label {
  color: #fff
}

#number {
  margin: 10px;
  padding: 10px;
}

#btEnviar {
  width: 100%;
  height: 30px;
  max-width: 150px;
  background: #fff;
  display:flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  
}

#btEnviar:hover {
  box-shadow: 1px 3px 5px black;
}

#alert {
  position: absolute;
  bottom: 2%;
  left: 2%;
  background: #fff;
  border-radius: 5px;
  padding: 10px;
  max-height: 49px;
  animation-name: example;
  animation-duration: 4s;
  display: none;
}

#alert img {
  position: relative;
  width:25px;
}

@keyframes example {
  0% {opacity:0;}
  100% {opacity:100;}
}
